.container1{
    height:100vh;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.profileboxs{
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(268px,auto));
   gap: 0.9rem;
/* margin-left: 280px; */
/* background-color: black; */
height:25vh;
/* background-color: black; */
margin-left: 260px;
margin-top: -8%;
/* box-shadow: 1px 2px 1px 1px lightgrey; */
    
}
.l-img
 {
    border-radius: 50%;
 }
 .profilebox{
    height:auto;
    width:50%;
    border:2px solid black;
    padding: 50px;
    
 }
 .profile_back_1
 {
   /* background-color: brown; */
   background-image: url('/images/bg_blue.jpg');
   background-size: 100% 100%;
   height: 50vh;
   width: 100%;
   margin-top: -11%;
 }
 .profile_back_box
 {
   box-shadow: 1px 2px 1px 1px lightgrey;
   border-radius: 10px;
   background-color: white;
   height: 60vh;
   width: 50%;
   margin-top: -26%;
   display: flex;
   
   flex-direction: column;
   
 }
 .profile_text
 {
   
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding-left: 0px;
   
 }
 .profilebutton
 {
   background-color: skyblue;
   color: black;
   border-radius: 12px;
   width: 20%;
   height: 5vh;
 }
.bt
{
  background-color: red;
  color: white;
  padding: 10px 45px ;
}
.cancel
{
  font-size: 30px;
}
.p-p
{
  color: rgba(0, 0, 0, 0.445);
}