.custom-confirm-button,
.custom-cancel-button {
  padding: 50px;
  /* line-height: 1; */
  /* border: 2px solid red; */
  font-size: 25px;
}

.custom-confirm-button:hover,
.custom-cancel-button:hover{
    border: none;
}